$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'https://fonts.googleapis.com/css?family=Raleway';

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
}

input {
  margin-left: 15px;
  margin-top: 15px;
}
